@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-ibm: "IBM Plex Mono", monospace;
  --font-pixelify: "Pixelify Sans", sans-serif;
  --font-archivo: "Archivo Black", sans-serif;

  --color-dark: #0F0F1A;
  --color-light: #F5F3ED;
  --color-halflight: #E8E4D9;
  --color-acid: #81B29A;/*#457B6B;#FFA54D;*/
  --color-cream: #e7e8d3;
  --color-orng: #E07A5F;
  --color-jaune: #F2CC8F;
}